@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #00416A; 
    color: white;
    font-family: 'Roboto';
    height: 100%;
    overflow: hidden;
}

.questionOutput {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 600;
}

input {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20px;
    width: 50%;
    text-align: center;
    font-size: 150%;
    width: 70%;
    height: 7vh; 
    padding: 10px 0;
    border-radius: 5px;
}

input, select, textarea {
    color: #003454;
}

.submit {
    display: flex;
    margin: auto;
    background-color: #006B4D;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border: none;
    transition-duration: 0.1s; 
    transition-timing-function: ease-in;
}

.submit:hover {
    background-color: white;
    color: #006B4D;
    border: 3px solid #006B4D;
}

.answer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 550;
}

/*styles input field when in focus*/
#userInput:focus {
    outline: none;
    background-color: #F6F8F9;
    /* color: black; */
}

/*styles input field placeholder text*/
::placeholder {
    font-family: 'Roboto'
}

/*styles input field placeholder text when in focus*/
:focus::placeholder {
    color: #A0ADBE;
}

/* set up grid container
.grid-container {
    display: grid;
    /*centers items on x-axis*/
    /* justify-content: center;
    /*centers items on y-axis*/
    /* align-items: center;
    height: 100vh;
    width: 100%; */
/* }  */

/* .outer-flexcontainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center;
    width: 100%;
}  */

/*set up flex container around input field and submit button*/
/* .flex-container1 {
    display: flex;
    flex-direction: column;
    align-content: center;
} */

/*set up flex container around the outputs*/
/* .flex-container2 {
    display: flex;
    flex-direction: column;
} */



