@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #164564; 
    color: white;
    font-family: 'Roboto';
    height: 100%;
    overflow: hidden;
}

 .container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
} 

/* .container .main {
    display: flex;
} */

/*styles input field when in focus*/
#userInput:focus {
    outline: none;
    background-color: #F6F8F9;
    color: black;
}

/*styles input field placeholder text*/
::placeholder {
    font-family: 'Roboto'
}

/*styles input field placeholder text when in focus*/
:focus::placeholder {
    color: #A0ADBE;
}

/* set up grid container
.grid-container {
    display: grid;
    /*centers items on x-axis*/
    /* justify-content: center;
    /*centers items on y-axis*/
    /* align-items: center;
    height: 100vh;
    width: 100%; */
/* }  */

/* .outer-flexcontainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center;
    width: 100%;
}  */

/*set up flex container around input field and submit button*/
/* .flex-container1 {
    display: flex;
    flex-direction: column;
    align-content: center;
} */

/*set up flex container around the outputs*/
/* .flex-container2 {
    display: flex;
    flex-direction: column;
} */



